<h1>Carrito de Compras</h1>
<div id="cart-list" class="product-list">
  {{#if cart.products.length}}
    {{#each cart.products}}
      <div class="product-card">
        <button class="remove-product-cart" data-id="{{product}}">x</button>
        <h3>{{title}}</h3>
        <p>Cantidad: {{quantity}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>Carrito vacío</p>
  {{/if}}
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".remove-product-cart").forEach(button => {
      button.addEventListener("click", (event) => {
        const productId = event.target.getAttribute("data-id");
        const cartId = 'default-cart-id'; // Utilizar un único ID de carrito
        fetch(`/api/carts/${cartId}/product/${productId}`, {
          method: "DELETE"
        }).then(response => {
          if (response.ok) {
            console.log("Producto eliminado del carrito");
            // Verificar si el carrito está vacío
            fetch(`/api/carts/${cartId}`)
              .then(response => response.json())
              .then(cart => {
                if (cart.products.length === 0) {
                  console.log('Carrito vacío');
                  location.reload(); // Recargar la página para actualizar la lista de productos
                } else {
                  // Actualizar la vista del carrito sin recargar la página
                  const productCard = event.target.closest('.product-card');
                  productCard.remove();
                }
              });
          } else {
            console.error("Error al eliminar producto del carrito");
          }
        });
      });
    });
  });
</script>
