<h1>Carrito de Compras</h1>
<div id="cart-list" class="product-list">
  {{#each cart.products}}
    <div class="product-card">
      <h3>{{title}}</h3>
      <p>Cantidad: {{quantity}}</p>
    </div>
  {{/each}}
</div>
