body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo h3{
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #696969;
}

nav .dropdown {
  position: relative;
}

nav .dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  max-height: 150px; 
  overflow-y: auto;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}

nav .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

nav .cart {
  position: relative;
}

nav .cart .cart-count {
  position: absolute;
  top: -13px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 6px 6px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5px;
  height: 5px;
  line-height: 0.5;
}

nav .user-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

nav .user-icon:hover {
  color: #007bff;
}

nav .user-icon.admin {
  color: red;
}

main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  font-size: 1.2rem;
}

.features-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.features-list li {
  display: inline-block;
  margin: 0 15px;
}

.features-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.features-list a:hover {
  color: #555;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h2, .product-card h3 {
  font-size: 1.4rem;
  margin: 0 0 10px;
  color: #333;
}

.product-card p {
  margin: 10px 0;
  font-size: 1rem;
  color: #555;
}

.product-card button {
  opacity: 0;
  visibility: hidden;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.product-card button:hover {
  background-color: #333;
}

.product-card:hover button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.product-card .remove-product {
  background-color: #555;
}

.product-card .remove-product:hover {
  background-color: #777;
}

/* Estilos para el botón "Eliminar Producto" en el carrito */
.product-card .remove-product-cart {
  position: absolute;
  top: -2px;
  right: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 100%;
  padding: 13px 10px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 0.5;
}

.product-card .remove-product-cart:hover {
  background-color: #c82333;
}


/* Estilos para el formulario de creación de productos */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #555;
}


/* Ocultar scrollbar para Chrome, Safari y Opera */
::-webkit-scrollbar {
  width: 0px;  /* Ancho de la scrollbar */
  background: transparent;  /* Fondo transparente */
}

/* Ocultar scrollbar para IE, Edge y Firefox */
.example {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Estilos para las miniaturas de los productos */
.product-thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.product-thumbnail {
  width: 100px;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-thumbnail:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.empty-cart {
  position: absolute;
  top: 100px;
  right: 50px;
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.empty-cart:hover {
  color: #c82333;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity-control button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

quantity-control button:hover {
  background-color: #555;
}

.quantity-control .quantity {
  font-size: 1.2rem;
  font-weight: bold;
}

.pagination-button {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}

.pagination-button:hover {
  background-color: #333;
  transform: scale(1.1);
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#page-info {
  margin: 0 10px;
  font-size: 1.2rem;
  color: #555;
}